<div>
  <span>Question: {{question}}</span>
</div>
<div>
  <form method="post" action="/question/{{id}}" >
    <div>
      <input type="submit" value="yes" name="yes">Yes</input>
    </div>
    <div>
      <input type="submit" value="no" name="no">No</input>
    </div>
  </form>
</div>
