<div class="row">
    {{#each images}}
    <div class="col-md-3 col-sm-6 col-12">
        <img src={{imageUrl}} alt="{{posterTitle}}" class="img-fluid">
        <h3>{{posterTitle}}</h3>
    </div>
    {{/each}}
</div>